@model Category

<form method="post" asp-action="DeletePost"> @*Je crée un formulaire avec un HTTP Post!*@
    <input asp-for="Id" hidden /> @*Obligé de rajouter cette ligne caché afin de pouvoir utiliser mon remove*@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Car Category</h2>
            <hr />
        <div asp-validation-summary="All"></div>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label> @*Afin de lier cette page à notre Category Model on va utiliser un Tag Helper!*@
            <input asp-for="Name" disabled class="form-control" /> @*Je crée un input. Quand l'objet sera posté il fera pour la Category Name*@
            
        </div>
         <div class="mb-3">
            <label asp-for="DisplayOrder"></label> @*Afin de lier cette page à notre Category Model on va utiliser un Tag Helper!*@
            <input asp-for="DisplayOrder" disabled class="form-control" /> @*Je crée un input. Quand l'objet sera posté il fera pour la Category Name*@
            

        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button> @*Je crée le bouton pour Soumettre l'input*@
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List </a>
        @*Je rajoute un lien pour revenir sur ma page Category*@
    </div>
</form>


@*Je rajoute cette section script et cela me donne une validation coté client.
    Avantage : Je ne contact pas le serveur, tout se passe coté client!!!!
*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}

